.aboutUrKardVideo{
    width: 60%;
    height: 40%;
    padding: 25px;
    margin-left: 17%;
    position: relative;
}

.carousel-video{
    height: 100%;
    position: relative;
}

.distributorVideo{
    width: 60%;
    height: 40%;
    padding: 25px;
    margin-left: 17%;
    position: relative;
}